extends layouts/application

append config
  - var PageTitle = ''
  - var PageClass = 'index'
  - var PagePath = '/'

block content


  // Main Banner
  .mdl-grid.nrg-grid
    .mdl-cell.mdl-cell--6-col.mdl-cell--8-col-tablet.mdl-cell--order-2-tablet.nrg-cell.nrg-cell--image
      img(src='images/banners/big_banner.jpg', alt='')

    .mdl-cell.mdl-cell--6-col.mdl-cell--8-col-tablet.mdl-cell--order-1-tablet
      .mdl-grid.nrg-grid--cube
        .mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.nrg-cell.nrg-cell--catalogue 
          .nrg-cell--catalogue-inner
            h2 Каталог украшений
            ul
              li
                a(href='#', title='Кольца на каждый день')
                  | Кольца на каждый день 
                  ins.icon.rrarr
              li
                a(href='#', title='Помолвочные кольца')
                  | Помолвочные кольца 
                  ins.icon.rrarr
              li
                a(href='#', title='Обручальные кольца')
                  | Обручальные кольца 
                  ins.icon.rrarr
              li
                a(href='#', title='Серьги')
                  | Серьги 
                  ins.icon.rrarr
              li
                a(href='#', title='Кулоны, подвески и цепочки')
                  | Кулоны, подвески и цепочки 
                  ins.icon.rrarr
              li
                a(href='#', title='Браслеты')
                  | Браслеты 
                  ins.icon.rrarr
              li
                a(href='#', title='Мужская коллекция')
                  | Мужская коллекция 
                  ins.icon.rrarr
              li
                a(href='#', title='Мужская коллекция')
                  | Коллекции 
                  ins.icon.rrarr

        .mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.nrg-cell.nrg-cell--image
          img(src='images/banners/diamond_ring.jpg', alt='')

        .mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.nrg-cell.nrg-cell--image
          img(src='images/banners/relationship_gift.jpg', alt='')

        .mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.nrg-cell.nrg-cell--image
          img(src='images/banners/diamond_constructor.jpg', alt='')



  // CATALOGUE
  section.section__home--catalog.nrg-catalog.nrg-tabs#tabs
    nav.tabs
      ul
        li
          a(href='#tab0') Хиты
        li
          a(href='#tab1') Новинки
        li
          a(href='#tab2') Скидки
        li
          a(href='#tab3') Каталог

    .nrg-catalog__items
      - var catalog_items = [[1, 2, 8, 9, 10, 11, 3, 4, 5, 6, 7, 12], [11, 1, 2, 6, 9, 10, 8, 3, 4, 5, 7, 12], [4, 5, 9, 10, 11, 3, 1, 2, 8, 6, 7, 12], [10, 3, 4, 2, 5, 6, 7, 1, 11, 8, 9, 12]]
      each id in [0, 1, 2, 3]
        .mdl-grid(id='tab#{id}')
          .mdl-cell.mdl-cell--1-col.mdl-cell--hide-tablet.mdl-cell--hide-phone.tabs__prev
          .mdl-cell.mdl-cell--10-col
            .mdl-grid.nrg-catalog__grid
              each val in catalog_items[id]
                .mdl-cell.mdl-cell--2-col.mdl-cell--2-col-tablet.nrg-item__outner
                  .nrg-item
                    a( href='/catalogue/item/', title='' )
                      img( src='images/catalogue/small/#{val}.jpg', alt='' )
                      .nrg-item__price 5 902 ₽
                    .nrg-item-info
                      h3 Кулон Афродита
                      p.nrg-item-info__help-text Из красного золота 585 пробы основная вставка: Бриллиант
                      big.nrg-item-info__price 175 902 ₽
                      .nrg-item-info__actions
                        span.button-s.button--defer-to-compare
                          ins.icon.star
                          | Отложить к сравнению
                        span.button-s.button--quick-look( data-look=(val%2 + 1) )
                          ins.icon.quicklook
                          | Быстрый просмотр
          .mdl-cell.mdl-cell--1-col.mdl-cell--hide-tablet.mdl-cell--hide-phone.tabs__next


  // NEWS
  section.nrg-tabs.nrg-tabs--ui
    nav.tabs
      ul
        li
          a(href='#encyclopedia') Энциклопедия
        li
          a(href='#news') Новости

    .mdl-grid#encyclopedia
      - var news_title = ['Как выбрать помолвочное кольцо?', 'Досье: его величество изумруд', 'Что подарить зрелой женщине?', 'Аквамарин, камень морской воды', 'Что дарить в зависимости от стадии отношений?', 'Гранат драгоценный камень']
      - var news_dwsc = ['Ювелирный совет', 'Драгоценные камни', 'Идеи для подарков', 'Драгоценные камни', 'Идеи для подарков', 'Драгоценные камни']
      each id in [1, 2, 3, 4, 5, 6]
        .mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--6-col-phone.nrg-news__item
          a.mdl-grid(href='/blog/post/', title='')
            .mdl-cell.mdl-cell--5-col.mdl-cell--3-col-tablet.mdl-cell--2-col-phone
              img(src='images/encyclopedia/#{id}.jpg', alt='')
            .mdl-cell.mdl-cell--7-col.mdl-cell--5-col-tablet.mdl-cell--2-col-phone.nrg-news__text
              .nrg-news__text-caption
                h3 #{news_title[id-1]}
                small #{news_dwsc[id-1]}

    .mdl-grid#news
      - var news_title = ['Аквамарин, камень морской воды', 'Досье: его величество изумруд', 'Что дарить в зависимости от стадии отношений?']
      - var news_dwsc = ['Драгоценные камни', 'Драгоценные камни', 'Идеи для подарков']
      - var news_pics = [4, 2, 5]
      each id in [0, 1, 2]
        .mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.nrg-news__item
          a.mdl-grid(href='/blog/post/', title='')
            .mdl-cell.mdl-cell--5-col
              img(src='images/encyclopedia/#{news_pics[id]}.jpg', alt='')
            .mdl-cell.mdl-cell--7-col.nrg-news__text
              .nrg-news__text-caption
                h3 #{news_title[id]}
                small #{news_dwsc[id]}
      
    .mdl-grid
      .mdl-cell.mdl-cell--12-col.mdl-typography--text-center
        a.link(href='/blog/', title='Ювелирная Энциклопедия') Перейти в Ювелирную Энциклопедию



  section.section__about-info
    .mdl-grid
      .mdl-cell.mdl-cell--12-col.nrg-tablike-header
        .h2.nrg-tablike-header__title О GOLD4U

    .mdl-grid
      .mdl-cell.mdl-cell--8-col.mdl-cell--2-offset-desktop.mdl-typography--text-center
        h1.nrg-typography-h1
          | Интернет-магазин ювелирных изделий «GOLD4U»
      .mdl-cell.mdl-cell--6-col.mdl-cell--3-offset-desktop.mdl-cell--8-col-tablet.mdl-typography--text-center
        p.nrg-typography-desc
          | Наша любовь к прекрасному и страсть к ювелирным украшениям безграничны, для того, чтобы и Вы могли наслаждаться роскошью, мы открыли ювелирный интернет-магазин GOLD4U.ru

    .mdl-grid
      .mdl-cell.mdl-cell--8-col.mdl-cell--2-offset-desktop.nrg-journal
          p
            | GOLD4U.ru работает с 14 февраля 2005 года и с тех пор десятки тысяч наших украшений обрели своих счастливых владельцев.
          p
            | Мы умеем быстро и безопасно доставлять Ваш заказ в любую точку России и предлагаем Вам удобные способы оплаты товара как наличными при получении, так и с помощью банковской карты. Для Вашего удобства Ваш заказ может быть доставлен в один из 114 пунктов самовывоза по всей России.
          p
            | Не смотря на то, что мы сразу предлагаем Вам очень привлекательные цены, наши постоянные покупатели имеют возможность наслаждаться дополнительными скидками и получать персональные ценовые предложения.
          p
            | Для ряда наших покупателей предусмотрен ряд бесплатных сервисов, например, чистка и полировка украшений, изменение размеров колец, закрепка камней.
          p
            | Мы знаем, что Вы любите нас за тщательно подобранные коллекции ювелирных изделий от российских производителей, известных ювелирных домов, знаменитых мировых брендов
          p
            | «Украшения должны выглядеть намного дороже, чем они стоят!» — это наш девиз и то, что всегда отличает ювелирный интернет магазин GOLD4U.ru от других.
          p
            | Наша настоящая страсть — это бриллианты!
            | Мы выбираем их для Вас особенно тщательно, так же, как мы выбирали бы для себя. Мы признаём только сертифицированные бриллианты и отдаём предпочтение самой авторитетной в мире лаборатории по оценке и сертификации драгоценных камней — GIA.
          p
            | Исходя и Ваших пожеланий и суммы, которую Вы готовы инвестировать в бриллиант, мы сможем предложить Вам выбор из более, чем 90 000 «живых» бриллиантов весом от 0.15 карата до 21 карата.
          p
            | Ценителям мы предлагаем натуральные жёлтые бриллианты и бриллианты любых цветов от розового до чёрного. Любители драгоценные камни выберут сертифицированные GUBELIN или GIA изумруды, сапфиры или рубины. Разумеется Ваш драгоценный камень не останется без великолепной оправы от GOLD4U.ru
          p
            | Уже более 10-ти лет мы помогаем Вам выражать свои чувства и дарить эмоции! И мы гордимся тем, что помолвочные кольца от GOLD4U.ru гарантируют Вам ответ — «Да!»
          p
            | Мы с удовольствием даём Вам возможность создать своё кольцо для помолвки, и кроме великолепного Якутского бриллианта, мы добавляем к нему частичку нашей любви и заботы.
          p
            | Вы всегда возвращаетесь к нам за красивыми парными обручальными кольцами из платины или за подарками на рождение ребёнка, на Новый год или 8 марта, для своих любимых или коллег.
            | Вместе с нашими дизайнерами Вы создаёте Ваши уникальные украшения, с удовольствием носите их и передаёте их из поколения в поколение.
          p
            | Самое ценное, что есть у нас — это Ваше доверие, его не просто заслужить и очень легко потерять. Мы всегда стараемся и будем продолжать быть для Вас максимально открытыми, внимательно слушать Ваши пожелания и замечания, совершенствовать сервисы и предлагать Вам самые лучшие украшения.
          p
            | Спасибо Вам за то, что выбираете нас!
            | Команда GOLD4U.ru
          p
            | GOLD4U.ru — обладатель награды «Лучший ювелирный магазин — 2014» в номинации «интернет-магазины»


  include shared/_popups